@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    
    <button @onclick="@ToggleIFrame">Toggle IFrame</button>
    @if (showIframe)
    {
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bgNjSq4zsZc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    }
</div>


@code
{
     private bool showIframe = false;

     private void ToggleIFrame() => showIframe = !showIframe;

}
